# Python Caches & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# IDE & Editor Configuration
.idea/
.vscode/

# OS System Clutter
.DS_Store
Thumbs.db

# Project Specific Data
data/contact.csv